<div id="main">
  <div id="content">
    <div class="box">
      <div class="head">
        <h2><%= t("static_pages.new_movies_update") %></h2>
        <p class="text-right"><a href="#">See all</a></p>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">X-MAN</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie1.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>X-MAN</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">SPIDER MAN 2</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie2.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>SPIDER MAN 2</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">SPIDER MAN 3</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie3.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>SPIDER MAN 3</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">VALKYRIE</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie4.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>VALKYRIE</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">GLADIATOR</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie5.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>GLADIATOR</p>
        </div>
      </div>
      <div class="movie last">
        <div class="movie-image"> <span class="play"><span class="name">ICE AGE</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie6.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>ICE AGE</p>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="box">
      <div class="head">
        <h2><%= t("static_pages.top_rated") %></h2>
        <p class="text-right"><a href="#">See all</a></p>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">TRANSFORMERS</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie7.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>TRANSFORMERS</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">MAGNETO</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie8.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>MAGNETO</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">KUNG FU PANDA</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie9.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>KUNG FU PANDA</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">EAGLE EYE</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie10.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>EAGLE EYE</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">NARNIA</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie11.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>NARNIA</p>
        </div>
      </div>
      <div class="movie last">
        <div class="movie-image"> <span class="play"><span class="name">ANGELS &amp; DEMONS</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie12.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>ANGELS &amp; DEMONS</p>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
    <div class="box">
      <div class="head">
        <h2><%= t("static_pages.most_commented") %></h2>
        <p class="text-right"><a href="#">See all</a></p>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">HOUSE</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie13.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>HOUSE</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">VACANCY</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie14.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>VACANCY</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">MIRRORS</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie15.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>MIRRORS</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">THE KINGDOM</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie16.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>THE KINGDOM</p>
        </div>
      </div>
      <div class="movie">
        <div class="movie-image"> <span class="play"><span class="name">MOTIVES</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie17.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>MOTIVES</p>
        </div>
      </div>
      <div class="movie last">
        <div class="movie-image"> <span class="play"><span class="name">THE PRESTIGE</span></span>
          <%= link_to  "#" do %>
            <%= image_tag "movie18.jpg" %>
          <% end %>
        </div>
        <div class="rating">
          <p>THE PRESTIGE</p>
        </div>
      </div>
      <div class="cl">&nbsp;</div>
    </div>
  </div>
  <div class="cl">&nbsp;</div>
</div>

